@import url("https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap");

:root {
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

* {
    transition: all 0.4s ease;
}

body {
    font-family: "Zen Antique", serif;
    color: white;
}

html {
    font-size: 62.5%; /* font-size 10px */
}

h2, 
h3 {
    position: relative;
    z-index: 1;
    font-size: 3rem;
    font-weight: 540;
}

a,
p {
    position: relative;
    z-index: 1;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

header {
    padding: 2.7rem 5.4rem;
    text-shadow: black 1px 3px 6px;
    z-index: 1000;
    position: fixed;
}

.logo-title {
    cursor: pointer;
}

header img {
    width: 3.5rem;
    cursor: pointer;
}

/* hero section */
.hero {
    background-image: url("./images/another-world.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero .title {
    transform: translateY(240px);
}

.hero h1 {
    text-shadow: black 1px 3px 6px;
    font-size: 7.5rem;
}

.hero h3 {
    width: 450px;
    text-align: right;
    text-shadow: black 1px 3px 6px;
}

/* sale section */
.sale h2 {
    font-size: 4rem;
}

.sale h3 {
    font-size: 3rem;
}

.sale img {
    width: 100%;
    height: 100%;
}

.card-effect {
    box-shadow: var(--box-shadow);
} 

.game-card {
    background-color: rgb(255, 255,255);
}

.game-card h5 {
    font-size: 2rem;
}

.game-card p {
    font-size: 1.7rem;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
}

.game-card:hover {
    box-shadow: none;
    transform: translateY(4px);
}

/* company section */
.company {
    background-image: url('./images/house.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.company::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.company h2 {
    font-size: 3.9rem;
}

.company p {
    font-size: 2.5rem;
    line-height: 3.9rem;
}

.company-text-last {
    position: absolute;
    top: 70%;
    left: 7%;
}

.company-info .more a {
    display: inline-block;
    font-size: 1.7rem;
    color: white;
    padding: 0.6rem;
}

.company-info .more a:hover {
    color: aquamarine;
    transform: translateX(1rem);
}

/* media query */
@media (max-width: 1000px) {
    .hero h1 {
        font-size: 5rem;
    }

    .hero h3 {
        width: 400px;
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .hero title {
        transform: translateY(-50px);
        text-align: center;
    }

    .hero h1 {
        font-size: 6rem;
    }

    .hero h3 {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 45%;
    }

    .hero h3 {
        font-size: 2rem;
    }

    /* company section */
    .company-info {
        text-align: center !important;
        padding: 2rem !important;
    }

    .company-text-last {
        position: static;
        margin-top: 30rem;
    }

    .company-info h2 {
        margin-bottom: 4.6rem;
    }
}